{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1>Post List</h1>
            
            {% for post in posts %}
                <h3>
                  <a href="/blog/{{post.slug}}"><li>{{post}}</li></a>
                  
                  <a href="{% url 'blog:delete-post' post.slug  %}">          Delete       </a>
                  <a href="{% url 'blog:update-post' post.slug %}">          Update       </a>
                </h3>

            {% endfor %}
                
        </div>
        <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" value="Add POst">
        </form>

    </div>
    
  
    
{% endblock body %}
  