{% extends 'base.html' %}


{% block body %}
  


        <div class="container">
            <h1>post detail</h1>
            <div class="row">
                
                <h3>{{post}}</h3>
                <img src="{{post.image.url}}" alt="">
                <h3>{{post.publis_date|date:"M d, Y"}}</h3>
            </div>
            <h1>All Comments ({{comments|length}})</h1>
          

            
           
           {% for comment in comments  %}
            <li>{{comment.comment}}</li>
            {% empty %}
            <li>عفوا لا يوجد</li>

           {% endfor %}
            
              
            <form action="" method="post">
              {% csrf_token %}
              {{form}}
              <input type="submit" value="Add Comment">
            </form>

        </div>
    
{% endblock body %}
  